.nav {
    grid-area: n;   
    background-color: #84828F;    /*#86BBD8; */
    padding: 20px;
}

.item{
    color:white;
    text-decoration: none;
}

.item a.activeLink{
    text-decoration: none; /* временно */
    color:gold;
}